<% provide(:title, "お届け先情報") %>
<% breadcrumb :default_title, yield(:title) %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix stepsWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper clearfix stepsPage">
          <div class="row progress-wizard" style="border-bottom:0;">
            <div class="col-xs-4 progress-wizard-step complete">
              <div class="text-center progress-wizard-stepnum">お届け先情報</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <i class="progress-wizard-dot"></i>
            </div>
            <div class="col-xs-4 progress-wizard-step disabled">
              <div class="text-center progress-wizard-stepnum">お支払い方法</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <i class="progress-wizard-dot"></i>
            </div>
            <div class="col-xs-4 progress-wizard-step disabled">
              <div class="text-center progress-wizard-stepnum">入力内容確認</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <i class="progress-wizard-dot"></i>
            </div>
          </div>
          <form action="" class="row" method="POST" role="form">
            <div class="col-xs-12">
              <div class="page-header">
                <h4>入力フォーム</h4>
              </div>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <label for="checkout-family-name">姓</label>
              <input type="text" class="form-control" id="checkout-family-name">
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <label for="checkout-first-name">名</label>
              <input type="text" class="form-control" id="checkout-first-name">
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <label for="checkout-email">メールアドレス</label>
              <input type="email" class="form-control" id="checkout-email">
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <label for="checkout-address">住所</label>
              <input type="text" class="form-control" id="checkout-address">
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <label for="checkout-telephone">電話番号</label>
              <input type="text" class="form-control" id="checkout-telephone">
            </div>
            <div class="col-xs-12">
              <div class="well well-lg clearfix">
                <ul class="pager">
                  <li class="previous"><a href="#" class="hideContent">back</a></li>
                  <li class="next"><a href="checkout_step_2.html">次へ</a></li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>