<% provide(:title, @product.name) %>
<% breadcrumb :product_title, @product %>
<!-- Main content section -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% if @product.images.present? %>
                  <% @product.images.each do |image| %>
                    <div class="item <%= "active" if image.position == 1 %>" data-thumb="<%= image.position - 1 %>">
                      <%= image_tag(image.attachment(:product), itemprop: "image") %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="item active" data-thumb="0">
                    <%= image_tag("img/products/signle-product/product-slide-big-01.jpg") %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <% if @product.images.present? %>
                    <% @product.images.each do |image| %>
                      <div data-target="#carousel" data-slide-to="<%= image.position - 1 %>" class="thumb">
                        <%= image_tag(image.attachment(:product), itemprop: "image") %>
                      </div>
                    <% end %>
                  <% else %>
                    <div data-target="#carousel" data-slide-to="0" class="thumb">
                      <%= image_tag("img/products/signle-product/product-slide-small-01.jpg") %>
                    </div>
                  <% end %>
                </div>
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <%= link_to potepan_category_path(@product.taxons.first.id) do %>
                  <i class="fa fa-reply" area-hidden="true"></i>一覧ページへ戻る
                <% end %>
              </li>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <span class="quick-drop">
              <section name="guidest_id3" id="guidest_id3" class="select-drop">
                <option value="0">S</option>
                <option value="1">M</option>
                <option value="2">L</option>
                <option value="3">XL</option>
              </section>
            </span>
            <span class="quick-drop resizeWidth">
              <select name="guiest_id4" id="guiest_id4" class="select-drop">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </span>
            <div class="btn-area">
              <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <% @related_products.each do |related_product| %>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="productBox">
            <%= link_to potepan_product_path(related_product.id) do %>
              <div class="productImage clearfix">
                <% if related_product.images.present? %>
                  <%= image_tag(related_product.images.first.attachment(:product), alt: "products-img") %>
                <% else %>
                  <%= image_tag("img/products/products-01.jpg", :alt => "products-img") %>
                <% end %>
              </div>
              <div class="productCaption clearfix">
                <h5><%= related_product.name %></h5>
                <h3><%= related_product.display_price %></h3>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
