<ul class="dropdown-menu dropdown-menu-right">
  <li>Item(s) in your cart</li>
  <li>
    <a href="#">
      <div class="media">
        <%= image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image") %>
        <div class="media-body">
          <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <div class="media">
        <%= image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image") %>
        <div class="media-body">
          <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
        </div>
      </div>
    </a>
  </li>
  <li>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Shopping Cart</button>
      <button type="button" class="btn btn-default">Checkout</button>
    </div>
  </li>
</ul>