<% unless %w[potepan potepan_index].any? { |name| current_page?(send("#{name}_path")) } %>
  <!-- Light section -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2><%= yield(:title) %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li><%= breadcrumbs separator: "&emsp;/&emsp;" %></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
<% end %>